html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px; }

/**
 * Basic styles for links
 */
a {
  text-decoration: none; }

/**
 * Basic typography style for copy text
 */
.outer-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/botanical-bg.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  padding-bottom: 100px;
  min-height: 1000px; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; }
  .container .inner-container {
    max-width: 1000px; }

.logo {
  font-size: 5em;
  color: #8DC85F;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 0px 25px 0px;
  margin-left: 20px;
  border-bottom: 1px solid white;
  width: 95%; }
  .logo .logo2 {
    color: white;
    font-weight: lighter;
    letter-spacing: 1.5px; }

h2 {
  color: white;
  font-weight: lighter;
  letter-spacing: 1.3px; }

.btn-primary, .btn-primary:focus, .btn-primary:active {
  border: 2px solid #8DC85F;
  background-color: transparent;
  color: #8DC85F;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  transition: all .3s linear;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 250px; }
  .btn-primary:hover, .btn-primary:focus:hover, .btn-primary:active:hover {
    border: 2px solid #8DC85F;
    background-color: #8DC85F;
    color: white; }
  .btn-primary:focus, .btn-primary:focus:focus, .btn-primary:active:focus {
    outline: 0; }

.your-plants h2 {
  margin-bottom: 15px; }

#plantList {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between; }
  #plantList .plant-item {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/img/plant.png");
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Cutive Mono', monospace;
    text-decoration: none;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear; }
    #plantList .plant-item:hover {
      background-color: #8DC85F;
      background-position: center;
      background-repeat: no-repeat; }
    #plantList .plant-item h3 {
      text-transform: uppercase;
      font-size: 1.8em;
      letter-spacing: 1.3px; }

.add-plant-container {
  text-align: center; }
  .add-plant-container .form-add-plant {
    display: flex;
    flex-direction: column; }
    .add-plant-container .form-add-plant input {
      height: 50px;
      min-height: 50px;
      padding-left: 10px;
      opacity: .9;
      margin-bottom: 10px; }
    .add-plant-container .form-add-plant select {
      margin-bottom: 10px;
      height: 40px;
      min-height: 40px;
      opacity: .7;
      color: #5b9031; }

#submit-plant {
  border: 2px solid #8DC85F;
  background-color: rgba(141, 200, 95, 0.7);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  transition: all .3s linear;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto 15px auto;
  width: 150px; }
  #submit-plant:hover {
    border: 2px solid #8DC85F;
    background-color: #8DC85F;
    color: white; }

/*# sourceMappingURL=styles.css.map */
