body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
}

.outer-container {
  background: url('../img/botanical-bg.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 100px;
  min-height: 1000px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.inner-container {
  max-width: 1000px;
  width: 70%;
}

.logo {
  font-size: 5em;
  color: #8DC85F;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 0px 25px 0px;
  margin-left: 20px;
  border-bottom: 1px solid white;
  width: 95%;
  letter-spacing: 1px;
}

.logo2 {
  color: white;
  font-weight: lighter;
  letter-spacing: 1.2px;
}

h2 {
  color: white;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

.btn-primary , .btn-primary:focus, .btn-primary:active {
  border:2px solid #8DC85F;
  background-color: transparent;
  color: #8DC85F;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  transition: all .3s linear;
  padding-top: 15px;
  padding-bottom:15px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 15px;
}

.btn-primary:hover {
  border:2px solid #8DC85F;
  background-color: #8DC85F;
  color: white;
}
.btn-primary:focus {
  outline:0;
}

.water-btn , .water-btn:focus, .water-btn:active {
  border:2px solid #00CED1;
  background-color: transparent;
  color: #00CED1;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  transition: all .3s linear;
  padding-top: 15px;
  padding-bottom:15px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 15px;
}

.water-btn:hover {
  border:2px solid #00CED1;
  background-color: #00CED1;
  color: white;
}
.water-btn:focus {
  outline:0;
}

.your-plants h2 {
  margin-bottom: 15px;
}

.your-plants {
  width: 100%;
}

#plantList {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plantInfo{
  display: none;
}

.expanded {
  width: 70vw !important;
  height: auto !important;
  background: transparent!important;
  display: flex;
  flex-direction: column;
  color: white !important;
}

.expanded .plant-name {
  font-size: 3em !important;
  margin-top: 10px;
}

.plant-item {
  background-color: rgba(255, 255, 255, 0.8);
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
  font-family: 'Cutive Mono', monospace;
  text-decoration: none;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all .3s linear;
}

.plant-item:hover {
  background-color: #8DC85F;
  background-position: center;
  background-repeat:no-repeat;
}

.plant-item h3 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.5em;
  letter-spacing: 1.3px;
  text-shadow: 1px 1px 2px rgba(140, 140, 140, .7);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.add-plant-container {
  text-align:center;
}

.form-add-plant {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-top: 1px solid white;
  padding-top: 25px;
}

.form-add-plant input {
  height: 50px;
  min-height: 50px;
  padding-left: 10px;
  opacity: .9;
  margin-bottom: 10px;
  font-size: 1em;
}

.form-add-plant select {
  margin-bottom: 10px;
  height: 50px;
  min-height: 50px;
  opacity: .7;
  color: darken(#8DC85F, 20%);
  font-size: 1em;
}

#submit-plant {
  border:2px solid #8DC85F;
  background-color: rgba(141, 200, 95, .7);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  transition: all .3s linear;
  padding-top: 15px;
  padding-bottom:15px;
  margin: 0 auto 15px auto;
  width: 150px;
}

#submit-plant:hover {
  border:2px solid #8DC85F;
  background-color: #8DC85F;
  color: white;
}

.plantInfo {
  color: white;
  width: 100%;
  max-width: 1000px;
}

.plantInfo .header {
  display: flex;
}
.plantInfo .header>* {
  flex: 1;
}
.plantInfo .header .left {
  padding-right: 20px;
  padding-top: 15px;
}
.plantInfo .header .right {
  padding-left: 40px;
  border-left: 1px solid white;
  line-height: 30px;
}
.plantInfo .header .right hr{
  border: 1px solid rgba(255, 255, 255, .4);
}
.plantInfo .header .right h1, h3 {
  letter-spacing: 2px;
}
.plantInfo .header .right h3 {
  font-weight: lighter;
  margin-top: 0px;
  text-align: left;
  font-family: 'Arimo';
  text-transform:none;
  font-size: 1.2em;
}

.details {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.plant-icon {
  width: 170px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  text-align: center;
}

.plant-icon img{
  /*border: 1px solid yellow;*/
  height: 200px;
  width: auto;
  padding: 20px;
}
