// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}


/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}
